<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>c_h</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>d_d</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>g_g</string>
	</array>
	<key>@MMK_L_iacute</key>
	<array>
		<string>I</string>
		<string>iacute</string>
		<string>y</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>l_l</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m</string>
		<string>m_m</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>n_n</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>b_b</string>
		<string>o</string>
	</array>
	<key>@MMK_L_oacute</key>
	<array>
		<string>O</string>
		<string>a_i</string>
		<string>oacute</string>
		<string>i</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p</string>
		<string>p_p</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>r_r</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>t_t</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>U</string>
		<string>e</string>
		<string>u</string>
		<string>uacute</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>b_b</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>c_h</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>d_d</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>g_g</string>
		<string>k</string>
	</array>
	<key>@MMK_R_iacute</key>
	<array>
		<string>I</string>
		<string>iacute</string>
		<string>y</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>l_l</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>m_m</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>n_n</string>
	</array>
	<key>@MMK_R_oacute</key>
	<array>
		<string>O</string>
		<string>a_i</string>
		<string>oacute</string>
		<string>o_u</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>p_p</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>paragraph</string>
		<string>period</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
		<string>r_r</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>s</string>
		<string>t</string>
		<string>t_t</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>a</string>
		<string>u</string>
	</array>
	<key>@MMK_R_uacute</key>
	<array>
		<string>U</string>
		<string>uacute</string>
		<string>z</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
</dict>
</plist>
