<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>-249</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>466</integer>
			<key>y</key>
			<integer>253</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>30.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>-234</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>Figures overshoot</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>413</integer>
			<key>y</key>
			<integer>589</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>-27</integer>
			<key>y</key>
			<integer>391</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>SC</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>444</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>-180</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerShow</key>
	<true/>
	<key>com.typemytype.robofont.mask.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.mask.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.mask.layerShowPoints</key>
	<true/>
	<key>com.typemytype.robofont.mask.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<real>0.0901</real>
		<real>0.3013</real>
		<real>0.0</real>
		<real>1.0</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<true/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>.null</string>
				<string>HT</string>
				<string>LF</string>
				<string>CR</string>
				<string>DLE</string>
				<string>DC1</string>
				<string>DC2</string>
				<string>DC3</string>
				<string>DC4</string>
				<string>RS</string>
				<string>US</string>
				<string>space</string>
				<string>thinspace</string>
				<string>uni00A0</string>
				<string>nbspace</string>
				<string>DEL</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Amacron</string>
				<string>Abreve</string>
				<string>Aring</string>
				<string>Aringacute</string>
				<string>Aogonek</string>
				<string>AE</string>
				<string>AEacute</string>
				<string>Cacute</string>
				<string>Cacute.pl</string>
				<string>Ccircumflex</string>
				<string>Ccaron</string>
				<string>Cdotaccent</string>
				<string>Ccedilla</string>
				<string>Dcaron</string>
				<string>Dcroat</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Ecaron</string>
				<string>Edieresis</string>
				<string>Emacron</string>
				<string>Ebreve</string>
				<string>Edotaccent</string>
				<string>Eogonek</string>
				<string>Gcircumflex</string>
				<string>Gbreve</string>
				<string>Gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>Hcircumflex</string>
				<string>Hbar</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Itilde</string>
				<string>Idieresis</string>
				<string>Imacron</string>
				<string>Ibreve</string>
				<string>Idotaccent</string>
				<string>Iogonek</string>
				<string>IJ</string>
				<string>Jcircumflex</string>
				<string>Kcommaaccent</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Lcommaaccent</string>
				<string>Ldot</string>
				<string>Lslash</string>
				<string>Nacute</string>
				<string>Nacute.pl</string>
				<string>Ncaron</string>
				<string>Ntilde</string>
				<string>Ncommaaccent</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Oacute.pl</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Omacron</string>
				<string>Obreve</string>
				<string>Ohungarumlaut</string>
				<string>Oslash</string>
				<string>Oslashacute</string>
				<string>OE</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rcommaaccent</string>
				<string>Sacute</string>
				<string>Sacute.pl</string>
				<string>Scircumflex</string>
				<string>Scaron</string>
				<string>Scedilla</string>
				<string>Scommaaccent</string>
				<string>Tcaron</string>
				<string>Tcommaaccent</string>
				<string>uni021A</string>
				<string>Tbar</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Utilde</string>
				<string>Udieresis</string>
				<string>Umacron</string>
				<string>Ubreve</string>
				<string>Uring</string>
				<string>Uhungarumlaut</string>
				<string>Uogonek</string>
				<string>Wgrave</string>
				<string>Wacute</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Ygrave</string>
				<string>Yacute</string>
				<string>Ycircumflex</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>Zacute.pl</string>
				<string>Zcaron</string>
				<string>Zdotaccent</string>
				<string>Eng</string>
				<string>Eth</string>
				<string>Thorn</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>amacron</string>
				<string>abreve</string>
				<string>aring</string>
				<string>aringacute</string>
				<string>aogonek</string>
				<string>ae</string>
				<string>aeacute</string>
				<string>cacute</string>
				<string>cacute.pl</string>
				<string>ccircumflex</string>
				<string>ccaron</string>
				<string>cdotaccent</string>
				<string>ccedilla</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>ecaron</string>
				<string>edieresis</string>
				<string>emacron</string>
				<string>ebreve</string>
				<string>edotaccent</string>
				<string>eogonek</string>
				<string>gcircumflex</string>
				<string>gbreve</string>
				<string>gdotaccent</string>
				<string>gcommaaccent</string>
				<string>hcircumflex</string>
				<string>hbar</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>ij</string>
				<string>itilde</string>
				<string>idieresis</string>
				<string>imacron</string>
				<string>ibreve</string>
				<string>idotaccent</string>
				<string>iogonek</string>
				<string>jcircumflex</string>
				<string>kcommaaccent</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>ldot</string>
				<string>lslash</string>
				<string>nacute</string>
				<string>nacute.pl</string>
				<string>ncaron</string>
				<string>ntilde</string>
				<string>ncommaaccent</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>oacute.pl</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>omacron</string>
				<string>obreve</string>
				<string>ohungarumlaut</string>
				<string>oslash</string>
				<string>oslashacute</string>
				<string>oe</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rcommaaccent</string>
				<string>sacute</string>
				<string>sacute.pl</string>
				<string>scircumflex</string>
				<string>scaron</string>
				<string>scedilla</string>
				<string>scommaaccent</string>
				<string>tcaron</string>
				<string>tcommaaccent</string>
				<string>uni021B</string>
				<string>tbar</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>utilde</string>
				<string>udieresis</string>
				<string>umacron</string>
				<string>ubreve</string>
				<string>uring</string>
				<string>uhungarumlaut</string>
				<string>uogonek</string>
				<string>wgrave</string>
				<string>wacute</string>
				<string>wcircumflex</string>
				<string>wdieresis</string>
				<string>ygrave</string>
				<string>yacute</string>
				<string>ycircumflex</string>
				<string>ydieresis</string>
				<string>zacute</string>
				<string>zacute.pl</string>
				<string>zcaron</string>
				<string>zdotaccent</string>
				<string>eng</string>
				<string>eth</string>
				<string>thorn</string>
				<string>germandbls</string>
				<string>dotlessj</string>
				<string>napostrophe</string>
				<string>dotlessi</string>
				<string>Agrave.sc</string>
				<string>Aacute.sc</string>
				<string>Acircumflex.sc</string>
				<string>Atilde.sc</string>
				<string>Adieresis.sc</string>
				<string>Amacron.sc</string>
				<string>Abreve.sc</string>
				<string>Aring.sc</string>
				<string>Aringacute.sc</string>
				<string>Aogonek.sc</string>
				<string>AE.sc</string>
				<string>AEacute.sc</string>
				<string>Cacute.sc</string>
				<string>Cacute.scpl</string>
				<string>Ccircumflex.sc</string>
				<string>Ccaron.sc</string>
				<string>Cdotaccent.sc</string>
				<string>Ccedilla.sc</string>
				<string>Dcaron.sc</string>
				<string>Dcroat.sc</string>
				<string>Egrave.sc</string>
				<string>Eacute.sc</string>
				<string>Ecircumflex.sc</string>
				<string>Ecaron.sc</string>
				<string>Edieresis.sc</string>
				<string>Emacron.sc</string>
				<string>Ebreve.sc</string>
				<string>Edotaccent.sc</string>
				<string>Eogonek.sc</string>
				<string>Gcircumflex.sc</string>
				<string>Gbreve.sc</string>
				<string>Gdotaccent.sc</string>
				<string>Gcommaaccent.sc</string>
				<string>Hcircumflex.sc</string>
				<string>Hbar.sc</string>
				<string>Igrave.sc</string>
				<string>Iacute.sc</string>
				<string>Icircumflex.sc</string>
				<string>Itilde.sc</string>
				<string>Idieresis.sc</string>
				<string>Imacron.sc</string>
				<string>Ibreve.sc</string>
				<string>Idotaccent.sc</string>
				<string>Iogonek.sc</string>
				<string>IJ.sc</string>
				<string>Jcircumflex.sc</string>
				<string>Kcommaaccent.sc</string>
				<string>Lacute.sc</string>
				<string>Lcaron.sc</string>
				<string>Lcommaaccent.sc</string>
				<string>Ldot.sc</string>
				<string>Lslash.sc</string>
				<string>Nacute.sc</string>
				<string>Nacute.scpl</string>
				<string>Ncaron.sc</string>
				<string>Ntilde.sc</string>
				<string>Ncommaaccent.sc</string>
				<string>Ograve.sc</string>
				<string>Oacute.sc</string>
				<string>Oacute.scpl</string>
				<string>Ocircumflex.sc</string>
				<string>Otilde.sc</string>
				<string>Odieresis.sc</string>
				<string>Omacron.sc</string>
				<string>Obreve.sc</string>
				<string>Ohungarumlaut.sc</string>
				<string>Oslash.sc</string>
				<string>Oslashacute.sc</string>
				<string>OE.sc</string>
				<string>Racute.sc</string>
				<string>Rcaron.sc</string>
				<string>Rcommaaccent.sc</string>
				<string>Sacute.sc</string>
				<string>Sacute.scpl</string>
				<string>Scircumflex.sc</string>
				<string>Scaron.sc</string>
				<string>Scedilla.sc</string>
				<string>Scommaaccent.sc</string>
				<string>Tcaron.sc</string>
				<string>Tcommaaccent.sc</string>
				<string>uni021A.sc</string>
				<string>Tbar.sc</string>
				<string>Ugrave.sc</string>
				<string>Uacute.sc</string>
				<string>Ucircumflex.sc</string>
				<string>Utilde.sc</string>
				<string>Udieresis.sc</string>
				<string>Umacron.sc</string>
				<string>Ubreve.sc</string>
				<string>Uring.sc</string>
				<string>Uhungarumlaut.sc</string>
				<string>Uogonek.sc</string>
				<string>Wgrave.sc</string>
				<string>Wacute.sc</string>
				<string>Wcircumflex.sc</string>
				<string>Wdieresis.sc</string>
				<string>Ygrave.sc</string>
				<string>Yacute.sc</string>
				<string>Ycircumflex.sc</string>
				<string>Ydieresis.sc</string>
				<string>Zacute.sc</string>
				<string>Zacute.scpl</string>
				<string>Zcaron.sc</string>
				<string>Zdotaccent.sc</string>
				<string>Eng.sc</string>
				<string>Eth.sc</string>
				<string>Thorn.sc</string>
				<string>germandbls.sc</string>
				<string>dotlessj.sc</string>
				<string>napostrophe.sc</string>
				<string>a.ord</string>
				<string>b.ord</string>
				<string>c.ord</string>
				<string>d.ord</string>
				<string>e.ord</string>
				<string>f.ord</string>
				<string>g.ord</string>
				<string>h.ord</string>
				<string>i.ord</string>
				<string>j.ord</string>
				<string>k.ord</string>
				<string>l.ord</string>
				<string>m.ord</string>
				<string>n.ord</string>
				<string>o.ord</string>
				<string>p.ord</string>
				<string>q.ord</string>
				<string>r.ord</string>
				<string>s.ord</string>
				<string>t.ord</string>
				<string>u.ord</string>
				<string>v.ord</string>
				<string>w.ord</string>
				<string>x.ord</string>
				<string>y.ord</string>
				<string>z.ord</string>
				<string>uacute.ord</string>
				<string>fi</string>
				<string>fl</string>
				<string>f_b</string>
				<string>f_h</string>
				<string>f_j</string>
				<string>f_k</string>
				<string>f_t</string>
				<string>f_f_b</string>
				<string>f_f_h</string>
				<string>f_f_j</string>
				<string>f_f_k</string>
				<string>f_f_t</string>
				<string>g_g</string>
				<string>g_y</string>
				<string>g_g_y</string>
				<string>t_t</string>
				<string>t_y</string>
				<string>t_t_y</string>
				<string>f.short</string>
				<string>f_f.short</string>
				<string>cedilla</string>
				<string>ogonek</string>
				<string>grave</string>
				<string>acute</string>
				<string>acute.pl</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>caron.alt</string>
				<string>tilde</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>breve</string>
				<string>ring</string>
				<string>hungarumlaut</string>
				<string>dotaccent</string>
				<string>commaaccent</string>
				<string>commaaccent.alt</string>
				<string>cedilla.uc</string>
				<string>ogonek.uc</string>
				<string>grave.uc</string>
				<string>acute.uc</string>
				<string>acute.ucpl</string>
				<string>circumflex.uc</string>
				<string>caron.uc</string>
				<string>caron.ucalt</string>
				<string>tilde.uc</string>
				<string>dieresis.uc</string>
				<string>macron.uc</string>
				<string>breve.uc</string>
				<string>ring.uc</string>
				<string>hungarumlaut.uc</string>
				<string>dotaccent.uc</string>
				<string>commaaccent.uc</string>
				<string>ampersand</string>
				<string>comma</string>
				<string>semicolon</string>
				<string>colon</string>
				<string>period</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>question</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>bullet</string>
				<string>periodcentered</string>
				<string>asterisk</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>section</string>
				<string>paragraph</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>brokenbar</string>
				<string>underscore</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>copyright</string>
				<string>Pcircle</string>
				<string>uni24C5</string>
				<string>Rcircle</string>
				<string>registered</string>
				<string>trademark</string>
				<string>currency</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>zero.slash</string>
				<string>minute</string>
				<string>uni2032</string>
				<string>second</string>
				<string>uni2033</string>
				<string>apple</string>
				<string>exclamdown</string>
				<string>questiondown</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>at</string>
				<string>slash</string>
				<string>backslash</string>
				<string>bar</string>
				<string>exclamdown.uc</string>
				<string>questiondown.uc</string>
				<string>hyphen.uc</string>
				<string>endash.uc</string>
				<string>emdash.uc</string>
				<string>parenleft.uc</string>
				<string>parenright.uc</string>
				<string>bracketleft.uc</string>
				<string>bracketright.uc</string>
				<string>braceleft.uc</string>
				<string>braceright.uc</string>
				<string>guilsinglleft.uc</string>
				<string>guilsinglright.uc</string>
				<string>guillemotleft.uc</string>
				<string>guillemotright.uc</string>
				<string>at.uc</string>
				<string>slash.uc</string>
				<string>backslash.uc</string>
				<string>bar.uc</string>
				<string>ampersand.sc</string>
				<string>exclam.sc</string>
				<string>question.sc</string>
				<string>exclamdown.sc</string>
				<string>questiondown.sc</string>
				<string>hyphen.sc</string>
				<string>endash.sc</string>
				<string>emdash.sc</string>
				<string>parenleft.sc</string>
				<string>parenright.sc</string>
				<string>bracketleft.sc</string>
				<string>bracketright.sc</string>
				<string>braceleft.sc</string>
				<string>braceright.sc</string>
				<string>guilsinglleft.sc</string>
				<string>guilsinglright.sc</string>
				<string>guillemotleft.sc</string>
				<string>guillemotright.sc</string>
				<string>at.sc</string>
				<string>slash.sc</string>
				<string>backslash.sc</string>
				<string>bar.sc</string>
				<string>quoteleft.sc</string>
				<string>quoteright.sc</string>
				<string>quotedblleft.sc</string>
				<string>quotedblright.sc</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>sterling</string>
				<string>yen</string>
				<string>cent</string>
				<string>florin</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>plus</string>
				<string>minus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>numbersign</string>
				<string>plusminus</string>
				<string>notequal</string>
				<string>approxequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>degree</string>
				<string>zero.old</string>
				<string>one.old</string>
				<string>two.old</string>
				<string>three.old</string>
				<string>four.old</string>
				<string>five.old</string>
				<string>six.old</string>
				<string>seven.old</string>
				<string>eight.old</string>
				<string>nine.old</string>
				<string>Euro.old</string>
				<string>dollar.old</string>
				<string>sterling.old</string>
				<string>yen.old</string>
				<string>cent.old</string>
				<string>florin.old</string>
				<string>percent.old</string>
				<string>perthousand.old</string>
				<string>plus.old</string>
				<string>minus.old</string>
				<string>multiply.old</string>
				<string>divide.old</string>
				<string>equal.old</string>
				<string>less.old</string>
				<string>greater.old</string>
				<string>numbersign.old</string>
				<string>plusminus.old</string>
				<string>notequal.old</string>
				<string>approxequal.old</string>
				<string>lessequal.old</string>
				<string>greaterequal.old</string>
				<string>degree.old</string>
				<string>zero.lin</string>
				<string>one.lin</string>
				<string>two.lin</string>
				<string>three.lin</string>
				<string>four.lin</string>
				<string>five.lin</string>
				<string>six.lin</string>
				<string>seven.lin</string>
				<string>eight.lin</string>
				<string>nine.lin</string>
				<string>Euro.lin</string>
				<string>dollar.lin</string>
				<string>sterling.lin</string>
				<string>yen.lin</string>
				<string>cent.lin</string>
				<string>florin.lin</string>
				<string>percent.lin</string>
				<string>perthousand.lin</string>
				<string>plus.lin</string>
				<string>minus.lin</string>
				<string>multiply.lin</string>
				<string>divide.lin</string>
				<string>equal.lin</string>
				<string>less.lin</string>
				<string>greater.lin</string>
				<string>numbersign.lin</string>
				<string>plusminus.lin</string>
				<string>notequal.lin</string>
				<string>approxequal.lin</string>
				<string>lessequal.lin</string>
				<string>greaterequal.lin</string>
				<string>degree.lin</string>
				<string>zero.tab</string>
				<string>one.tab</string>
				<string>two.tab</string>
				<string>three.tab</string>
				<string>four.tab</string>
				<string>five.tab</string>
				<string>six.tab</string>
				<string>seven.tab</string>
				<string>eight.tab</string>
				<string>nine.tab</string>
				<string>Euro.tab</string>
				<string>dollar.tab</string>
				<string>sterling.tab</string>
				<string>yen.tab</string>
				<string>cent.tab</string>
				<string>florin.tab</string>
				<string>percent.tab</string>
				<string>perthousand.tab</string>
				<string>plus.tab</string>
				<string>minus.tab</string>
				<string>multiply.tab</string>
				<string>divide.tab</string>
				<string>equal.tab</string>
				<string>less.tab</string>
				<string>greater.tab</string>
				<string>numbersign.tab</string>
				<string>plusminus.tab</string>
				<string>notequal.tab</string>
				<string>approxequal.tab</string>
				<string>lessequal.tab</string>
				<string>greaterequal.tab</string>
				<string>degree.tab</string>
				<string>period.tab</string>
				<string>comma.tab</string>
				<string>colon.tab</string>
				<string>semicolon.tab</string>
				<string>space.tab</string>
				<string>zero.lintab</string>
				<string>one.lintab</string>
				<string>two.lintab</string>
				<string>three.lintab</string>
				<string>four.lintab</string>
				<string>five.lintab</string>
				<string>six.lintab</string>
				<string>seven.lintab</string>
				<string>eight.lintab</string>
				<string>nine.lintab</string>
				<string>Euro.lintab</string>
				<string>dollar.lintab</string>
				<string>sterling.lintab</string>
				<string>yen.lintab</string>
				<string>percent.lintab</string>
				<string>perthousand.lintab</string>
				<string>plus.lintab</string>
				<string>minus.lintab</string>
				<string>multiply.lintab</string>
				<string>divide.lintab</string>
				<string>equal.lintab</string>
				<string>less.lintab</string>
				<string>greater.lintab</string>
				<string>numbersign.lintab</string>
				<string>plusminus.lintab</string>
				<string>notequal.lintab</string>
				<string>approxequal.lintab</string>
				<string>lessequal.lintab</string>
				<string>greaterequal.lintab</string>
				<string>zero.sc</string>
				<string>one.sc</string>
				<string>two.sc</string>
				<string>three.sc</string>
				<string>four.sc</string>
				<string>five.sc</string>
				<string>six.sc</string>
				<string>seven.sc</string>
				<string>eight.sc</string>
				<string>nine.sc</string>
				<string>Euro.sc</string>
				<string>dollar.sc</string>
				<string>sterling.sc</string>
				<string>yen.sc</string>
				<string>percent.sc</string>
				<string>perthousand.sc</string>
				<string>zero.sctab</string>
				<string>one.sctab</string>
				<string>two.sctab</string>
				<string>three.sctab</string>
				<string>four.sctab</string>
				<string>five.sctab</string>
				<string>six.sctab</string>
				<string>seven.sctab</string>
				<string>eight.sctab</string>
				<string>nine.sctab</string>
				<string>Euro.sctab</string>
				<string>dollar.sctab</string>
				<string>sterling.sctab</string>
				<string>yen.sctab</string>
				<string>percent.sctab</string>
				<string>perthousand.sctab</string>
				<string>zero.sub</string>
				<string>one.sub</string>
				<string>two.sub</string>
				<string>three.sub</string>
				<string>four.sub</string>
				<string>five.sub</string>
				<string>six.sub</string>
				<string>seven.sub</string>
				<string>eight.sub</string>
				<string>nine.sub</string>
				<string>plus.sub</string>
				<string>minus.sub</string>
				<string>zero.sup</string>
				<string>one.sup</string>
				<string>two.sup</string>
				<string>three.sup</string>
				<string>four.sup</string>
				<string>five.sup</string>
				<string>six.sup</string>
				<string>seven.sup</string>
				<string>eight.sup</string>
				<string>nine.sup</string>
				<string>plus.sup</string>
				<string>minus.sup</string>
				<string>onehalf</string>
				<string>onequarter</string>
				<string>threequarters</string>
				<string>onethird</string>
				<string>twothirds</string>
				<string>oneeighth</string>
				<string>threeeighths</string>
				<string>fiveeighths</string>
				<string>seveneighths</string>
				<string>fraction</string>
				<string>zero.num</string>
				<string>one.num</string>
				<string>two.num</string>
				<string>three.num</string>
				<string>four.num</string>
				<string>five.num</string>
				<string>six.num</string>
				<string>seven.num</string>
				<string>eight.num</string>
				<string>nine.num</string>
				<string>zero.den</string>
				<string>one.den</string>
				<string>two.den</string>
				<string>three.den</string>
				<string>four.den</string>
				<string>five.den</string>
				<string>six.den</string>
				<string>seven.den</string>
				<string>eight.den</string>
				<string>nine.den</string>
				<string>logicalnot</string>
				<string>Delta</string>
				<string>Omega</string>
				<string>mu</string>
				<string>pi</string>
				<string>infinity</string>
				<string>partialdiff</string>
				<string>integral</string>
				<string>radical</string>
				<string>summation</string>
				<string>product</string>
				<string>lozenge</string>
				<string>arrowleft</string>
				<string>arrowdown</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>uni2197</string>
				<string>uni2196</string>
				<string>uni2198</string>
				<string>uni2199</string>
				<string>uni24EA</string>
				<string>uni2460</string>
				<string>uni2461</string>
				<string>uni2462</string>
				<string>uni2463</string>
				<string>uni2464</string>
				<string>uni2465</string>
				<string>uni2466</string>
				<string>uni2467</string>
				<string>uni2468</string>
				<string>circfigblank</string>
				<string>uni24FF</string>
				<string>uni2776</string>
				<string>uni2777</string>
				<string>uni2778</string>
				<string>uni2779</string>
				<string>uni277A</string>
				<string>uni277B</string>
				<string>uni277C</string>
				<string>uni277D</string>
				<string>uni277E</string>
				<string>negcircfigblank</string>
				<string>halfcirczeroleft</string>
				<string>halfcirconeleft</string>
				<string>halfcirctwoleft</string>
				<string>halfcircthreeleft</string>
				<string>halfcircfourleft</string>
				<string>halfcircfiveleft</string>
				<string>halfcircsixleft</string>
				<string>halfcircsevenleft</string>
				<string>halfcirceightleft</string>
				<string>halfcircnineleft</string>
				<string>neghalfcirczeroleft</string>
				<string>neghalfcirconeleft</string>
				<string>neghalfcirctwoleft</string>
				<string>neghalfcircthreeleft</string>
				<string>neghalfcircfourleft</string>
				<string>neghalfcircfiveleft</string>
				<string>neghalfcircsixleft</string>
				<string>neghalfcircsevenleft</string>
				<string>neghalfcirceightleft</string>
				<string>neghalfcircnineleft</string>
				<string>halfcirczeroright</string>
				<string>halfcirconeright</string>
				<string>halfcirctworight</string>
				<string>halfcircthreeright</string>
				<string>halfcircfourright</string>
				<string>halfcircfiveright</string>
				<string>halfcircsixright</string>
				<string>halfcircsevenright</string>
				<string>halfcirceightright</string>
				<string>halfcircnineright</string>
				<string>neghalfcirczeroright</string>
				<string>neghalfcirconeright</string>
				<string>neghalfcirctworight</string>
				<string>neghalfcircthreeright</string>
				<string>neghalfcircfourright</string>
				<string>neghalfcircfiveright</string>
				<string>neghalfcircsixright</string>
				<string>neghalfcircsevenright</string>
				<string>neghalfcirceightright</string>
				<string>neghalfcircnineright</string>
				<string>squarezero</string>
				<string>squareone</string>
				<string>squaretwo</string>
				<string>squarethree</string>
				<string>squarefour</string>
				<string>squarefive</string>
				<string>squaresix</string>
				<string>squareseven</string>
				<string>squareeight</string>
				<string>squarenine</string>
				<string>squfigblank</string>
				<string>negsquarezero</string>
				<string>negsquareone</string>
				<string>negsquaretwo</string>
				<string>negsquarethree</string>
				<string>negsquarefour</string>
				<string>negsquarefive</string>
				<string>negsquaresix</string>
				<string>negsquareseven</string>
				<string>negsquareeight</string>
				<string>negsquarenine</string>
				<string>negsqufigblank</string>
				<string>halfsqrzeroleft</string>
				<string>halfsqroneleft</string>
				<string>halfsqrtwoleft</string>
				<string>halfsqrthreeleft</string>
				<string>halfsqrfourleft</string>
				<string>halfsqrfiveleft</string>
				<string>halfsqrsixleft</string>
				<string>halfsqrsevenleft</string>
				<string>halfsqreightleft</string>
				<string>halfsqrnineleft</string>
				<string>neghalfsqrzeroleft</string>
				<string>neghalfsqroneleft</string>
				<string>neghalfsqrtwoleft</string>
				<string>neghalfsqrthreeleft</string>
				<string>neghalfsqrfourleft</string>
				<string>neghalfsqrfiveleft</string>
				<string>neghalfsqrsixleft</string>
				<string>neghalfsqrsevenleft</string>
				<string>neghalfsqreightleft</string>
				<string>neghalfsqrnineleft</string>
				<string>halfsqrzeroright</string>
				<string>halfsqroneright</string>
				<string>halfsqrtworight</string>
				<string>halfsqrthreeright</string>
				<string>halfsqrfourright</string>
				<string>halfsqrfiveright</string>
				<string>halfsqrsixright</string>
				<string>halfsqrsevenright</string>
				<string>halfsqreightright</string>
				<string>halfsqrnineright</string>
				<string>neghalfsqrzeroright</string>
				<string>neghalfsqroneright</string>
				<string>neghalfsqrtworight</string>
				<string>neghalfsqrthreeright</string>
				<string>neghalfsqrfourright</string>
				<string>neghalfsqrfiveright</string>
				<string>neghalfsqrsixright</string>
				<string>neghalfsqrsevenright</string>
				<string>neghalfsqreightright</string>
				<string>neghalfsqrnineright</string>
				<string>filledbox</string>
				<string>H22073</string>
				<string>H18533</string>
				<string>circle</string>
				<string>uni2605</string>
				<string>uni2606</string>
				<string>chevsinglright</string>
				<string>chevdblright</string>
				<string>s_h</string>
				<string>o_u</string>
				<string>h_w</string>
				<string>a_i</string>
				<string>d_d</string>
				<string>p_p</string>
				<string>m_m</string>
				<string>l_l</string>
				<string>r_r</string>
				<string>n_n</string>
				<string>double</string>
				<string>b_b</string>
				<string>c_h</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_c</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_d</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_g</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_iacute</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_l</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_m</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_n</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_o</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_oacute</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_p</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_t</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_u</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_b</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_c</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_comma</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_d</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_g</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_iacute</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_l</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_m</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_n</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_oacute</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_p</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_period</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_r</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_t</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_u</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uacute</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_v</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Aogonek</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Cacute.pl</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Ccedilla</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Ecaron</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Hbar</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Itilde</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Iogonek</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Nacute.pl</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Oacute.pl</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Sacute.pl</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
		<string>Tbar</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Ygrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>Zacute.pl</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Eng</string>
		<string>Eth</string>
		<string>Thorn</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>cacute.pl</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>hcircumflex</string>
		<string>hbar</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>ij</string>
		<string>itilde</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>idotaccent</string>
		<string>iogonek</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>nacute.pl</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>oacute.pl</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>sacute.pl</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
		<string>tbar</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>utilde</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>ygrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>zacute</string>
		<string>zacute.pl</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>eng</string>
		<string>eth</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>dotlessj</string>
		<string>napostrophe</string>
		<string>dotlessi</string>
		<string>g_g</string>
		<string>t_t</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>grave</string>
		<string>acute</string>
		<string>acute.pl</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>caron.alt</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>breve</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>dotaccent</string>
		<string>commaaccent</string>
		<string>commaaccent.alt</string>
		<string>ampersand</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>period</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>question</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>paragraph</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>brokenbar</string>
		<string>underscore</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>copyright</string>
		<string>Pcircle</string>
		<string>uni24C5</string>
		<string>Rcircle</string>
		<string>registered</string>
		<string>trademark</string>
		<string>currency</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>zero.slash</string>
		<string>minute</string>
		<string>uni2032</string>
		<string>second</string>
		<string>uni2033</string>
		<string>apple</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>at</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>cent</string>
		<string>florin</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>numbersign</string>
		<string>plusminus</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>degree</string>
		<string>s_h</string>
		<string>o_u</string>
		<string>h_w</string>
		<string>a_i</string>
		<string>d_d</string>
		<string>p_p</string>
		<string>m_m</string>
		<string>l_l</string>
		<string>r_r</string>
		<string>n_n</string>
		<string>double</string>
		<string>b_b</string>
		<string>c_h</string>
	</array>
</dict>
</plist>
